services:
  - type: web
    name: n8n
    env: docker
    plan: starter
    dockerfilePath: ./Dockerfile
    autoDeploy: false
    disk:
      name: n8n-data
      mountPath: /home/node/.n8n
      sizeGB: 1
    envVars:
      - key: N8N_PORT
        value: 10000
      - key: N8N_HOST
        value: 0.0.0.0
      - key: WEBHOOK_TUNNEL_URL
        value: https://n8n-banl.onrender.com
      - key: GENERIC_TIMEZONE
        value: America/New_York
